/* Color Pallete */
:root {
  --bg: #121212;
  --purple: #EABFFF;
  --gray: #ADADAD;
  --white: white;

  --purple-hover: white;
  --purple-tp: rgb(234, 191, 255, 0.5);
  --gradient: linear-gradient(90deg, rgba(152,249,255,1) 0%, rgba(234,191,255,1) 100%);
}

/* Body */
* {
  margin: 0;
  padding: 0;
  cursor: none;
} 

html, body {
  font-family: Work Sans, sans-serif;
  font-weight: 400;
  background-color: #141414;
  color: white;
  min-height: 100vh;
  text-align: center;
  font-size: 16px;
}

/* Header */
.header > img,
    .header > h1 {
        display: inline-block;
    }

.header {
  width: 100%;
  height: 64px;
  margin-top: 40px;
}

.title {
  color: var(--purple);
  font-size: 20px;
  text-align: right;
}

.folder {
  color: var(--gray);
}



.logo {
  min-width: 40px;
  min-height: 40px;
  width: 1vw;
  margin-right: 35vw;
}

/* Navigation */
.bigFlex {
  display: flex;
  flex-direction: column;
}

.aboutMenu {
  order: 1;
  max-width: 600px;
  display: flex;
  margin: auto;
}

.menuRow1 {
  flex: 50%;
  margin-top: 167px;
  margin-right: 50px;
}

.indexButton {
    display:inline-block;
    margin:10px 10px 0 10px;
    transition: all 0.25s ease-in;
    transform: scale(1);
}

.indexButtonText {
  margin-top: 10px;
}

.aboutButtonText {
  transition: all 0.25s ease-in;
  display: block;
}

.aboutButton {
  position: relative;
  transition: all 0.25s ease-in;
  display: block;
  margin-top: 20px;
  flex: 40%;
}

/* About Image */
.floating {   
  animation-name: floating; 
  animation-duration: 2.75s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
  margin-bottom:20px;
} 

@keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 10px); } 
  100%   { transform: translate(0, -0px); }     
} 
.shadowfilter:hover {
  -webkit-filter: drop-shadow(0px 0px 4px var(--purple));
}

@media (hover: hover) and (pointer: fine) {
  .indexButton:hover, .indexButton2:hover {
      transform: scale(1.065) perspective(1px);
      color: var(--purple);
      filter: brightness(109%) saturate(150%);
     
  }

  .aboutButton:hover .aboutButtonText {
      color: var(--purple);
  }

  .aboutImg {
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }

  .aboutImg:hover {
      -webkit-filter: drop-shadow(0px 0px 4px var(--purple)) saturate(175%);
  }
}

.footer {
  color: var(--gray);
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;
}

/* Mobile View */
@media (max-width: 786px) { 
  .aboutPlusMenu {
      flex-direction: column;
  }

  .menuRow1 {
      order: 2;
      margin-top: 50px;
      margin-right: 7px;
  }

  .aboutButton {
      order: 1;
      text-align: center;
  }
}


/* Links */
a {
  color: var(--purple);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  transition: all 0.20s ease-in;
  color: (--purple-hover);
}

/* Mix Blend Cursor */
.cursor {
  position: fixed;
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursorHover {
  transform: translate(-50%, -50%) scale(3);
}
