
a {
    color: #8d8d8d;
    text-decoration: none;
    font-size: calc(24px + 1.5vw);
    height: auto;
}

a:hover {
    transition: all 0.20s ease-in;
    filter: brightness(120%) saturate(105%);
}

.homeImg {
    max-height: 482.85px;
    max-width: 470.6px;
    transition: all 0.20s ease-in;
    position: relative;
    width: 50vw;
    margin-top: 25vh;
}

.homeImg:hover {
    filter: brightness(110%) saturate(105%);
}

/* SMOKE -- https://codepen.io/verlok/pen/DmeERp */

/* Smoke container */

#smoke {
	position: absolute;
    z-index:-1;
	bottom: 74vh;
    left: 58vw;
}

/* smoke balls  right: 36%;*/
#smoke span { 
    display: block;
    position: absolute;
    border: 5vw solid #cdcdcd;
    border-radius: 5vw;
    opacity: 0;
    transform: scale(0.2);
    filter: blur(0.5vw);
}

/* Smoke animation */
@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -2vw) }
	100% { opacity: 0; transform: scale(1) translate(-2vw, -13vw) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -2vw) }
	100% { opacity: 0; transform: scale(1) translate(2vw, -13vw) }
}

#smoke .s0 { animation: smokeL 10s 0s infinite }
#smoke .s1 { animation: smokeR 10s 1s infinite }
#smoke .s2 { animation: smokeL 10s 2s infinite }
#smoke .s3 { animation: smokeR 10s 3s infinite }
#smoke .s4 { animation: smokeL 10s 4s infinite }
#smoke .s5 { animation: smokeR 10s 5s infinite }
#smoke .s6 { animation: smokeL 10s 6s infinite }
#smoke .s7 { animation: smokeR 10s 7s infinite }
#smoke .s8 { animation: smokeL 10s 8s infinite }
#smoke .s9 { animation: smokeR 10s 9s infinite }


@media only screen and (max-width: 600px) {
    #smoke {
        position: absolute;
        z-index:-1;
        bottom: 74vh;
        left: 58vw;
    }
}

@media only screen and (min-width: 1000px) {
    #smoke {
        position: absolute;
        z-index:-1;
        bottom: 75vh;
        left: 55vw;
    }
}

@media only screen and (min-width: 1450px) {
    #smoke {
        position: absolute;
        z-index:-1;
        bottom: 79vh;
        left: 52vw;
    }
}